{% macro render_post(post) %}
<article>
<h2 class="title"><a href="{{ post|url }}">{{ post.title }}</a></h2>

<p><em>Posted on {{ post.pub_date.strftime("%B %-d, %Y") }}.</em></p>

{{ post.body }}
</article>
{% endmacro %}
